<body>
<nav class="custom-nav-class" ngStickyNav style="background-color: #4CAF50 ; width: 100%">
  <div class ="dropbtn dropdown"><a [routerLink] = "['/posts']">Home</a></div>
  <a class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a (click)="reload('politics')">Politics</a>
      <a (click)="reload('education')">Education</a>
      <a (click)="reload('tech')">Tech</a>
      <a (click)="reload('other')">Other</a>
    </div>
  </a>
  <a class="dropbtn">Contact</a>
</nav>
<router-outlet></router-outlet>
<app-popular style="position: fixed;  top: 50px;  right: 50px; display: block"></app-popular>
<button id="addbtn" class="w3-button w3-xlarge w3-circle w3-red w3-card-4" [routerLink] = "['/addblog']">+</button>
</body>
