<h4>Edit Post</h4>
<br>
<h5 class="title">Title</h5>
<textarea class="inpe" type="text" [(ngModel)]="title" value={{editblog.title}}></textarea>
<br>
<h5 class="title">Body</h5>
<textarea class="inp" type="text" [(ngModel)]="body" value={{editblog.post}}></textarea>
<br>
<h5 class="title">Featured URL</h5>
<input class="url" type="text" [(ngModel)]="url" placeholder="http://placekitten.com/200/300" value={{editblog.img}}>
<br>
<div class="title">Category :
  <select type = "text" [(ngModel)]= "category" #sdda>
    <option value="politics">Politics</option>
    <option value="tech">Tech</option>
    <option value="education">Education</option>
    <option value="other">Other</option>
  </select>
</div>
<button type="submit" name="action" (click)="edit(title,body,'dsfgsdf',url,sdda.value)">Save Changes</button>
