<h4 class="title">Add new Post</h4>
<br>
<h5 class="title">Title</h5>
<textarea class="inpe" type="text" #title1></textarea>
<br>
<h5 class="title">Body</h5>
<textarea class="inp" type="text" #body1></textarea>
<br>
<h5 class="title">Featured URL</h5>
<input class="url" type="text" #url placeholder="http://placekitten.com/200/300" >
<br>
<div class="title">Category :
  <select type = "text" #sdda>
    <option value="politics">Politics</option>
    <option value="tech">Tech</option>
    <option value="education">Education</option>
    <option value="other">Other</option>
  </select>
</div>
<button type="submit" name="action" (click)="addblog(title1.value , body1.value ,'user' , url.value,0,sdda.value)">Submit</button>
