<!--<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
<h4>Add New Post</h4>
<br>
<input class="box" type="text" [(ngModel)]="title" placeholder="title">
<br>
<input class="box" type="text" [(ngModel)]="body" placeholder="blog">
<br>
<input class="url" type="text" [(ngModel)]="url" placeholder="imageurl">
<br>
<div>Category :
  <select type = "text" #sdda>
    <option value="politics">Politics</option>
    <option value="tech">Tech</option>
    <option value="education">Education</option>
    <option value="other">Other</option>
  </select>
  <!--<b>Category    :</b>-->
  <!--<input class="category" [(ngModel)]="category" placeholder="Politics / General / Econamics / Humanity /Tech">-->
</div>
<button type="submit" name="action" (click)="addblog(title,body,'dsfgsdf',url,0,sdda.value)">Submit</button>
