.box {
  transition: box-shadow .3s;
  width: 60%;
  height: auto;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background-color: #cccccc;
  float: left;
}
.box:hover {
  box-shadow: 0 0 100px ;
}
